
.poke-div{
    /* margin-top: 30px; */
    text-align: center;
    border-style: solid;
    border-color: black;
    width: 350px;
    height: 500px;
    background-image: linear-gradient(to right top, #d3c733, #e0b12a, #e89b2c, #ed8536, #ec6f42);
    border-radius: 20px;
    /* margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px; */
    margin: 15px;
}

h4,p {
    font-family: 'Press Start 2P', cursive;
}

.poke-div p {
    color: #ffffff;
}

.pokeImg{
    margin-top: 30px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb0jUmNqUzyoJRCuQx-L4yeYVP-BsnUotywQ&usqp=CAU');
    background-repeat: no-repeat;
    border-radius: 30px;
}

.list-div{
 width: auto;
 height: auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-left: 210px;

}